@using ProjectSWP391.Models
@model Account

<head>
    <title> Login </title>
    <link rel="stylesheet" type="text/css" href="~/css/Authen.css">
</head>
<body>

    <div class="login-container">
        <h1>Forget Password</h1>
        <form action="/Authentication/ForgetPassword" method="post">
            <label class="error-label">@ViewBag.ErrorMsg</label><br />
            <label class="success-label">@ViewBag.SuccessMsg</label><br />
            <input type="text" id="email" placeholder="Email" asp-for="Email" required>
            <button type="submit">Send Email</button>
        </form>
        <div class="login-link">
            <p>Remember your password? <a href="/Authentication/Login">Login</a></p>
        </div>
    </div>
</body>
