@using ProjectSWP391.Models
@model Account

<head>
    <title> Login </title>
    <link rel="stylesheet" type="text/css" href="~/css/Authen.css">
</head>
<title>Time Counter Example</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var remainingTime = 300 // Remaining time in seconds

        // Update the timer display
        function updateTimer() {
            var minutes = Math.floor(remainingTime / 60);
            var seconds = remainingTime % 60;

            // Display the remaining time
            $('#timer').text(minutes + " minutes " + seconds + " seconds");

            // Decrement the remaining time
            remainingTime--;

            // Check if the remaining time has reached zero
            if (remainingTime < 0) {
                clearInterval(timerInterval);
                $('#timer').text("Expired");
            }
        }

        // Update the timer every second
        var timerInterval = setInterval(updateTimer, 1000);
    });
</script>
<body>

    <div class="login-container">
        <h1>Forget Password</h1>
        <form action="/Authentication/ForgetPassword" method="post">
            <label class="error-label">@ViewBag.ErrorMsg</label><br />
            <label class="success-label">@ViewBag.SuccessMsg</label><br />
            <input type="text" id="email" placeholder="Account" asp-for="Email" value="@ViewBag.Email" required>
            @if (ViewBag.CheckCaptcha=="true"){
                <input type="text" id="captcha" name="checkC" placeholder="Enter new Password from Email" required />
                <h3 id="timer">Remaining Time: <span id="timer"></span></h3>
            }
            <button type="submit">Send Email</button>
        </form>
        <div class="login-link">
            <p>Remember your password? <a href="/Authentication/Login">Login</a></p>
        </div>
    </div>
</body>

