@using ProjectSWP391.Models
@model Account

<head>
    <title> Login </title>
    <link rel="stylesheet" type="text/css" href="~/css/Authen.css">
</head>
@*<script>
    // Check if captcha data is available
    var captchaDataExists = @(ViewBag.CheckCaptcha)!= null ? "true" : "false";

    // Function to toggle the visibility of the captcha form
    function toggleCaptchaForm() {
        var captchaContainer = document.getElementById("captcha");
        captchaContainer.style.display = captchaDataExists ? "block" : "none";
    }

    // Call the toggle function on page load
    toggleCaptchaForm();
</script>*@
<body>

    <div class="login-container">
        <h1>Forget Password</h1>
        <form action="/Authentication/ForgetPassword" method="post">
            <label class="error-label">@ViewBag.ErrorMsg</label><br />
            <label class="success-label">@ViewBag.SuccessMsg</label><br />
            <input type="text" id="email" placeholder="Account" asp-for="Email" required>
            @if (ViewBag.CheckCaptcha!=null){
                <input type="text" id="captcha" name="checkC" placeholder="Enter captcha" required />
            }
            <button type="submit">Send Email</button>
        </form>
        <div class="login-link">
            <p>Remember your password? <a href="/Authentication/Login">Login</a></p>
        </div>
    </div>
</body>

