@using ProjectSWP391.Models
@model Account
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Authen.css">
</head>
<body>
    <div class="login-container">
        <h1 style="font-size:21px;">Reset Password</h1>
        <form action="/Authentication/ResetPassword" method="post">
            <label class="error-label">@ViewBag.ErrorMsg</label><br />
            <label class="success-label">@ViewBag.SuccessMsg</label><br />
            <input type="text" id="account" asp-for="Email" placeholder="Account" required>
            <input type="password" id="old-password" asp-for="Password" placeholder="Old Password" required>
            <input type="password" id="new-password" name="rePassword" placeholder="New Password" required>
            <input type="password" id="re-enter-new-password" name="newRePassword" placeholder="Re-enter New Password" required>
            <button type="submit">Reset Password</button>
        </form>
        <div class="login-link">
            <p>Remember your password? <a href="/Authentication/Login">Login</a></p>
        </div>
        <div class="register-link">
            <p>Don't have an account? <a href="/Authentication/Register">Register</a></p>
        </div>
    </div>
</body>