body {
    background: linear-gradient(135deg, #252A34, #2F416D);
    font-family: Arial, sans-serif;
    color: #fff;
}

.login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #fff;
}

input[type="email"],
input[type="password"],
input[type="text"]
{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

label {
    font-size: 14px;
    color: #ccc;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-link {
    margin-top: 20px;
    text-align: center;
}

    .register-link a {
        color: #007bff;
    }

.error-label {
    font-size: 18px;
    color: red;
    margin-bottom: 10px;
}
.success-label {
    font-size: 18px;
    color: lawngreen;
    margin-bottom: 10px;
}
#timer {
    font-size: 16px;
    color: #ff9800;
    font-weight: bold;
}