.chart-container {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 45vh;
    margin-top: 50px;
}

.chart-column {
    flex: 1;
    margin-right: 10px;
}

    .chart-column canvas {
        width: 100%;
        height: 100%;
    }

body {
    
    font-family: Arial, sans-serif;
}

.table-container {
    max-width: 1500px;
    margin: 20px auto; /* Adjust the margin value to bring the table closer to the chart */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ccc; /* Add a border to the table */
}

thead th {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    text-align: left;
    border-right: 1px solid #fff; /* Add a border to the right of each header cell */
}

tbody td {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    color: #333;
}

    tbody td:last-child {
        text-align: center;
        border-right: 1px solid #ccc; /* Add a border to the right of each data cell */
    }

.approve-link {
    text-decoration: none;
    color: #007bff;
    padding: 8px 15px;
    border: 1px solid #007bff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

    .approve-link:hover {
        background-color: #007bff;
        color: #fff;
    }
.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e0e0e0;
    color: #333;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .back-button:hover {
        background-color: #ccc;
    }