@using ProjectSWP391.Models;
@using ProjectSWP391.Models.ServiceModel;

<body>
    <div class="row justify-content-between align-items-center">
        <div style="flex: 1;">
            <h2 class="text-center">Smart Beauty Blogs</h2>
        </div>
        <!--Search and filter area-->
        <div style="float: right; display: flex; justify-content: end; flex-direction: row; padding: 40px 5vw 40px 0;">
            <form style="height: 100%;">
                <div id="search-area" style="width: fit-content; height: 40px; border: none; border-radius: 30px;
                                  display: flex; padding: 5px 10px 5px 10px; margin-right: 10px; border: 1px solid black;">
                    <div>
                        <button type="submit" style="border: none; background: none;"><i class="fa-solid fa-magnifying-glass" style="cursor: pointer;"></i></button>
                    </div>
                    <div style="padding: 0 10px 0 10px; font-size: 16px;">
                        <input class="search-bar" type="search" placeholder="What are you looking for?" />
                    </div>
                </div>
            </form>

            <!--Create blog button-->
            <div class="filter-area" title="Create Blog">
                <a href="/CustomerManagement/CreateBlog" style="color: black;"><i class="fa-solid fa-pen-to-square fa-lg"></i></i></a>
            </div>

            <div class="filter-area" title="Sort" style="position: relative; display: inline-block;">
                <i class="fa-solid fa-list fa-lg"></i>
                <ul class="dropdown-menu">
                    @if (ViewBag.isMyBlog)
                    {
                        <li class="drop-down-list" style="padding: 10px; line-height: 1; border-bottom: 1px solid black; border-radius: 5px 5px 0 0; font-size: 15px;"><a href="/CustomerManagement/BlogList?sort=1&myBlog=true">Latest Blogs</a></li>
                        <li class="drop-down-list" style="padding: 10px; line-height: 1; border-radius: 0 0 5px 5px; font-size: 15px;"><a href="/CustomerManagement/BlogList?sort=2&myBlog=true">Oldest Blogs</a></li>
                    }
                    else
                    {
                        <li class="drop-down-list" style="padding: 10px; line-height: 1; border-bottom: 1px solid black; border-radius: 5px 5px 0 0; font-size: 15px;"><a href="/CustomerManagement/BlogList?sort=1" style="color: black;">Latest Blogs</a></li>
                        <li class="drop-down-list" style="padding: 10px; line-height: 1; border-radius: 0 0 5px 5px; font-size: 15px;"><a href="/CustomerManagement/BlogList?sort=2" style="color: black;">Oldest Blogs</a></li>
                    }
                </ul>
            </div>

            @if (Global.CurrentUser != null && Global.CurrentUser.Role == null)
            {
                <div class="filter-area" title="My Blogs">
                    <a href="/CustomerManagement/BlogList?myBlog=true" style="color: black;"><i class="fa-solid fa-blog fa-lg"></i></a>
                </div>
            }
        </div>
    </div><!--End Filter and search area-->

    <div class="container" style="box-shadow: 0px 16px 46px -22px rgba(0,0,0,0.75); border-radius: 5px; background-color: #F8F6F6">
        @foreach (var item in ViewBag.blogList)
        {
            <div id="content" style="border: 1px solid black;">@Html.Raw(@item.Content)</div>
        }

    </div>


</body>
<style>
    a {
        color: black;
        text-decoration: none;
    }

    .search-bar {
        width: 20vw;
        outline: none;
        padding: 8px;
        border: none;
        height: 100%;
    }

        .search-bar::placeholder {
            font-size: 16px;
        }

    .filter-area {
        height: 40px;
        padding: 5px 10px 5px 10px;
        margin-right: 20px;
    }

        .filter-area:hover {
            border-bottom: 2px solid dodgerblue;
            cursor: pointer;
        }

    .dropdown-menu {
        width: fit-content;
        height: fit-content;
        border: 1px solid black;
        ;
        border-radius: 5px;
        display: none;
        position: absolute;
        z-index: 1;
        padding: 0;
        margin-top: 5px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        box-shadow: 0px 16px 46px -22px rgba(0,0,0,0.75)
    }

    .filter-area:hover .dropdown-menu {
        display: block;
    }

    .drop-down-list:hover {
        background-color: dodgerblue;
    }
</style>
