@using ProjectSWP391.Models;
@model Booking;

<body>
    @{
        if(Model.Customer == null)
        {
            <div class="container">
                <div class="row row-cols-2 justify-content-center pt-4">
                    <div class="col mt-1" style="padding-top: 100px;">
                        <h3>Please provide information before booking</h3>
                        <form asp-action="LoadByPost" asp-controller="Booking" style="margin-left: 6%; margin-top:30px;" method="post">
                            <label>Full Name<span style="font-weight: normal;"> (Optional)</span>:</label><br>
                            <input type="text" placeholder="Example: Nguyen Van A" name="fullname"><br>
                            <label>Email<span style="font-weight: normal;"> (Optional)</span>:</label><br>
                            <input type="email" placeholder="Example: abc123@xyz.com" name="email"><br>
                            <label>Phone:</label><br>
                            <input type="tel" name="phone" placeholder="Example: 0969645417" required pattern="^(0)[0-9]{9}" title="You must enter a valid phone number!"><br>
                            <input type="text" name="step" value="1" style="display: none;">
                            <input type="submit" value="Confirm" style="border-radius: 5px; height: 30px; background-color: #F7F7F7;">
                        </form>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container">
                <div class="row row-cols-2 justify-content-center">
                    <div class="col m-0" style="background-color: white; padding: 0 0 10px 0;">
                        <div style="background-color: #F7FAFC; width: 100%; height: fit-content; padding-top: 12px; padding-bottom: 12px;">
                            <p style="text-align: center; font-weight: 600; font-size: 22px;">Booking Schedule</p>
                        </div>
                        
                        <div style="width: 100%; height: fit-content; padding: 30px 40px 0px 40px;">
                            <p style="font-size: 20px; font-weight: 500;">1. Customer Details</p>
                            <div style="width: 100%; padding-top: 10px; padding-bottom: 10px; background-color: #f7f7f7; border-radius: 10px; margin-top: 10px;">
                            @{
                                if(Model.Customer.AccountId == null)
                                {
                                        <p style="padding-left: 15px"><i class="fa-solid fa-phone"></i> (+84) <span>@Model.Customer.Phone</span></p>
                                }
                                else{
                                    <p style="padding-left: 15px"><i class="fa-solid fa-envelope"></i> @Model.Customer.Email</p>
                                }
                            }
                            </div>
                        </div>

                        <div style="width: 100%; height: fit-content; padding: 30px 40px 0px 40px;">
                            <p style="font-size: 20px; font-weight: 500;">2. Select Service</p>
                            <div style="width: 100%; padding-top: 10px; padding-bottom: 10px; background-color: #f7f7f7; border-radius: 10px; margin-top: 10px;">
                                <p style="padding-left: 15px;"><i class="fa-solid fa-spa"></i> Click here to choose your service</p>
                            </div>
                            <div style="width: 100%; padding-top: 5px; padding-bottom: 5px;margin-top: 5px;">
                                @{
                                    if(Model.Service == null)
                                    {
                                        <p style="color: red; font-size: 16px;">  select a service</p>
                                    }
                                    else
                                    {
                                        <p style="border: 1px solid black; border-radius: 10px; font-size: 16px; text-align: center;">@Model.Service.ServiceName</p>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</body>

<style>
    body {
        background-color: #eeeeee;
        padding-top: 0;
        font-size: 18px;
    }
    p{
        margin-bottom: 0;
    }
    label{
        font-weight: bold;
    }
    input{
        margin-bottom: 10px;
        border: none;
        border-bottom: 2px solid green;
        width: 90%;
    }
    input:valid{
            border-bottom: 2px solid green;
    }
    input:invalid{
            border-bottom: 2px solid red;
    }
    tbody{
        width: 100%;
        text-align: center;
    }
</style>
