@{
    ViewData["Title"] = "Booking";
}
<body>
    @{
        //Confirm continue as guest or login
        if((bool)ViewData["isGuest"] == true)
        {
            <div class="container" id="message_box" style="width: 20%; height: 16%; position: fixed; top: 42%; left: 40%; border: 2px solid black;
                                  border-radius: 5px; background-color: lightgray; z-index: 1; text-align: center;">
                <p style="font-weight: bold;">Continue as guest?</p>
                <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6">
                <a onclick="Ok()">Continue</a>
                <script>
                    function Ok(){
                        document.getElementById("message_box").style.display = "none";
                    }
                </script>
                </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <a asp-controller="Authentication" asp-action="Login" style="text-decoration: none;">Login</a>
                    </div>
                </div>
            </div>
        }
    }
</body>
